body {
  height: 100%;
  margin: 0;
  background-image: url('../image/bluebg.jpg');
	background-repeat: no-repesat;
	background-size: cover;
}
.container-fluid#c12{
  padding-top: 2%;
  height: 700px;
  /* background: blue; */
}
.icon li{
	font-size:20px;
	list-style-type:none;
	text-align: center;
	display:inline;
}
.icon li a {
	color:black;
    padding: 15px 10px;
    text-decoration: none;
}
.icon ul{

	display: inline-block;
	position:relative;
}
#first{
  margin-top: 0%;
  padding-top: 10px;
	margin-bottom:15px;
	height:90px;
	width: 103%;
	font-family: 微軟正黑體;
  background-color: rgb(174, 214, 241);
	position: fixed;
}
#home{
  bottom:10px;
  right: 25px;
}
#member{
	height: 16%;
	width: 16%;
}
ul{
  display: inline-block;
	position:relative;
}
#label li{
	font-size:18px;
	list-style-type:none;
	text-align: center;
	display:inline;
}
#label li a {
	  color:black;
    padding: 15px 10px;
    text-decoration: none;
}
#label li a:hover{
	border-bottom: solid 0.5px #000000;
}
#label ul{
	display: inline-block;
	position:relative;
	left:-30%;
	margin-top: 1%;
}
#form{
  width: 650px;
  margin-left: 430px;
  margin-top: 4%;
  font-family: 微軟正黑體;
  font-size: 16px;
}
#mydream{
    margin-left: 43%;
}
#pic1{
  height: 300px;
  position: fixed;
  top:15%;
  left: 75%;
}
#pic2{
  height: 350px;
  position: fixed;
  top:50%;
  left: 3%;
}
