body {
  height: 100%;
  margin: 0;
}
#first{
  margin-top: 0%;
  padding-top: 10px;
	margin-bottom:15px;
	height:90px;
	width: 103%;
	font-family: 微軟正黑體;
  background-color: rgb(174, 214, 241);
	position: fixed;
}
#home{
  bottom:10px;
  right: 25px;
}
#member{
	height: 16%;
	width: 16%;
}
ul{
  display: inline-block;
	position:relative;
}
#label li{
	font-size:18px;
	list-style-type:none;
	text-align: center;
	display:inline;
}
#label li a {
	  color:black;
    padding: 15px 10px;
    text-decoration: none;
}
#label li a:hover{
	border-bottom: solid 0.5px #000000;
}
#label ul{
	display: inline-block;
	position:relative;
	left:-30%;
	margin-top: 1%;
}
.container-fluid#c10{
  padding-top: 4%;
  height: 700px;
}
#select1{
  width: 10%;
}
p{
  font-family: 微軟正黑體;
  font-size: 18px;
}
#form{
  width: 650px;
  margin-left: 430px;
  margin-top: 4%;
  font-family: 微軟正黑體;
  font-size: 16px;
}
#text1{
  width: 30%;
}
#content{
  width: 60%;
}
