body {
  height: 100%;
  margin: 0;
  background-image: url('../image/sharebg1.png');
	background-repeat: no-repesat;
	background-size: cover;
}
#first{
  margin-top: 0%;
  padding-top: 10px;
	margin-bottom:15px;
	height:90px;
	width: 103%;
	font-family: 微軟正黑體;
  background-color: rgb(174, 214, 241);
	position: fixed;
}
#home{
  bottom:10px;
  right: 25px;
}
#member{
	height: 16%;
	width: 16%;
}
ul{
  display: inline-block;
	position:relative;
}
#label li{
	font-size:18px;
	list-style-type:none;
	text-align: center;
	display:inline;
}
#label li a {
	  color:black;
    padding: 15px 10px;
    text-decoration: none;
}
#label li a:hover{
	border-bottom: solid 0.5px #000000;
}
#label ul{
	display: inline-block;
	position:relative;
	left:-30%;
	margin-top: 1%;
}
.container-fluid#c8{
  padding-top: 2%;
  height: 700px;
}
.typebutton{
  color: #fff;
  font-size: 18px;
  font-family: 微軟正黑體;
  margin-left: 25%;
  margin-top: 2%;
}
button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 22px;
  font-family: 微軟正黑體;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00ACC1;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  margin-top: 15px;
  margin-left: 20%;
}
button:hover {
	background-color: #7F8C8D;
}
button:active {
  background-color: #7F8C8D;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
button:focus{
  background-color: #7F8C8D;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
#topimg{
  margin-left: 40%;
}
#form{
  width: 650px;
  margin-left: 26%;
  margin-top: 4%;
  font-family: 微軟正黑體;
  font-size: 16px;
}
#user{
  height: 5%;
	width: 5%;
}
#b0{
  margin-left:1%;
}
#pic1{
  height: 150px;
  margin-top: -15%;
  margin-left: 110%;
}
